@import "variables";

body {
	overflow-x: hidden;
}
.navigation {
	width: 200px;;
	height : 100%;
	position: fixed;
	z-index: 0;
	background-color: #FFFFFF;
}
.nav_item {
	display: block;
	width: 197px;
	height: 54px;
	line-height: 19px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 0px -39px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	font-weight: bold;
	a{
		font-size: 16px;
		display:block;
		padding:16px;
		text-decoration: none;
		color:rgba(0,0,0,0.6);
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 2px;

		@include get_gradiant(#FFFFFF,#FFFFFF);
		@include get_animation();

		&:hover{
			color:rgba(0,0,0,1);
			font-weight: 400;
			@include get_animation();
			
		}
		&:active {
			color:rgba(0,0,0,1);
			@include get_animation();	
		}
	}
}	
.col-nav-container-1 {
	@include get_gradiant(#FFFFFF,#FFFFFF);
	height:50px;
	width:100%;
	position:fixed;
	margin-top: 0px;

	h1{
		font-size: 28px;
		margin-left: 58px;
		padding:2px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 10px;
		position:absolute;
		font-family: monospace;
	}
}

.nav-trigger {
	position:absolute;
	clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"]{
	@include burger(30px, 6px, 3px, #000000);
	position: fixed;
	left:20px;
	top:11px;
	z-index: 20;
	cursor:pointer;
} 

.navbar-form.navbar-right:last-child {
	margin-right: 0px;
}
.col-site-content {
	min-height: 700px;
	min-width: 100%;
	height:100%;
	@include get_gradiant(#FFFFFF, #FFFFFF);
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
	padding: 0;
	background-size: 200%;
}

.nav-trigger + label, .col-site-content {
	transition: left ease-out 0.3s;
}
.nav-trigger:checked + label {
	left: 215px;
	@include burger-to-cross;
}

.nav-trigger:checked ~ .col-site-content {
  left: 200px;
}
.col-nav-active {
	border-right:  1px solid rgba(0, 0, 0, 0.5);
}